[mysqld]

# Bind to all interfaces but use firewall to block outsiders
bind-address=0.0.0.0

# Save some performance by not resolving client addresses
skip-name-resolve

# This is mandatory setting in galera cluster
binlog_format=ROW
innodb_autoinc_lock_mode=2

# Use only InnoDB because MyISAM won't work with clusterized galera
default-storage-engine=innodb
enforce_storage_engine=InnoDB

# InnoDB performance tweaks
innodb_buffer_pool_size=512M
innodb_buffer_pool_instances=1

# Only write data once per second. Performance is slightly better,
# but a error or power outage can cause the last second's transactions to be lost.
innodb_flush_log_at_trx_commit=2

##
# Enable query caching
##
query_cache_type=1
query_cache_limit=256K
query_cache_min_res_unit=2k
query_cache_size=100M

##
# Tmp cache configurations
##
max_heap_table_size=64M
tmp_table_size=64M

thread_pool_size=24

# Galera Provider Configuration
wsrep_provider=/usr/lib/galera/libgalera_smm.so

# With bigger gcache size we can use ist to recover instead of sst
wsrep_provider_options="gcache.size = 512M"

# Galera Cluster Configuration
wsrep_cluster_name="%%CLUSTER_NAME%%"
wsrep_cluster_address="gcomm://%%CLUSTER_MEMBERS%%"

# Use Percona xtrabackup for Galera Replicating method
wsrep_sst_method=xtrabackup
wsrep_sst_auth="%%SST_AUTH%%"

# Galera Node Configuration
wsrep_node_address="%%NODE_ADDRESS%%"
wsrep_node_name="%%NODE_NAME%%"

# Turn on Galera
wsrep_on=ON
